---
layout: default
main_title: Ruby関連開発メニュー一覧
sub_title:
---

<p>クリアコードでは、Rubyを用いた開発を承っています。</p>
<ul>
	<li><a href="#binding">拡張機能の開発</a></li>
	<li><a href="#embed">Rubyインタプリタの組み込み</a></li>
</ul>
<ul>
	<li><a href="./">サービス一覧へ戻る</a></li>
</ul>

<h2 id="binding">拡張機能の開発</h2>
<p>Rubyは書きやすく読みやすい構文を持つ開発効率のよい言語です。一方、C言語はRubyに比べると記述する量が多いのですが、実効速度は数倍から数十倍高速です。RubyにC言語の高速性を組み込むことにより、効率よく高速なアプリケーションを開発できます。</p>
<p>RubyにはC言語で実装されたライブラリを利用するための「拡張機能」と呼ばれる仕組みがあります。この仕組みを用いることにより、既存の高速に動作するC言語のライブラリをRubyから利用することができます。</p>
<p>しかし、単純にC言語の機能をRubyで使えるようにするだけでは、Ruby本体が持つ書きやすさや読みやすさに馴染まず、使いづらいものになってしまい、せっかくの高い開発効率を下げてしまいます。C言語の機能をRubyに提供するだけではなく、C言語のAPIをよりRubyらしいAPIとして提供することにより、高速性と高い開発効率を実現できます。</p>
<p>クリアコードでは、多くの拡張機能を作成した経験を活かしてよりRubyらしいAPIを提供する拡張機能の開発を承っています。</p>
<ul class="note">
    <li>価格: 別途御見積り</li>
</ul>

<h2 id="embed">Rubyインタプリタの組み込み</h2>
<p>Rubyの高度に動的な動作は高い柔軟性を提供します。ある種のアプリケーションは高速に動作するだけではなく、柔軟性も求められます。<a href="../software/milter-manager.html">効果的な迷惑メール対策を提供するmilter manager</a>はそのようなアプリケーションの1つです。効果的な迷惑メール対策を適用するために、受信するメールそれぞれに対してどのような迷惑メール対策を適用するかを動的に判断する必要があり、この部分に柔軟性が求められています。</p>
<p>Rubyはアプリケーションとしてだけではなく、C言語のライブラリとして利用することができます。アプリケーションのコアはC言語で実装することにより高速性を実現し、柔軟性が必要な部分にライブラリとしてRubyインタプリタを組み込むことにより、高速性を維持したままアプリケーションに柔軟性を組み込むことができます。</p>
<p>柔軟性が求められる既存のアプリケーションにRubyインタプリタを組み込むことにより柔軟性を提供したいといった開発を承っています。</p>
<ul class="note">
    <li>価格: 別途御見積り</li>
</ul>
<ul>
    <li><a href="milter-manager.html">milter managerサービスメニュー一覧へ</a></li>
</ul>
