---
layout: default
main_title: Mozilla Firefox用アドオン「My Theme」を活用したサービスの提供を開始
sub_title:
type: topic
---

<p>株式会社クリアコードは、株式会社オズマピーアールと共同でMozilla Firefoxアドオン「My Theme」を活用したWebプロモーションサービス「Web Face2Face」を企画、開発し、本日より販売を開始しました。</p>

<p><a href="https://www.clear-code.com/services/mozilla/technologies.html">My Themeの紹介</a></p>

<p><a href="http://www.ozma.co.jp/news/2009_07_01.html">株式会社オズマピーアールのプレスリリース</a></p>
