---
layout: default
main_title: 平成21年度先進技術型研究開発助成金事業に採択
sub_title:
type: topic
---

<p>クリアコードは、独立行政法人情報通信研究機構の平成21年度先進技術型研究開発助成金事業に採択されました。</p>

<p>助成対象事業は、「モバイル端末向けクロスプラットフォームアプリケーションコンテンツ提供基盤の研究開発」です。これは、モバイル端末をはじめとした情報家電に対して、共通のアプリケーションプラットフォームを提供し、さらにその上で動作するアプリケーションコンテンツを流通させる仕組みを研究開発するものです。</p>

<p><a href="http://www2.nict.go.jp/pub/whatsnew/press/h21/090619/090619-1.html">独立行政法人情報通信研究機構の報道発表</a></p>
