---
layout: default
main_title: 年末年始休業のお知らせ
sub_title:
type: topic
---

<p>お客さま各位</p>

<p>平素は格別のお引き立てを賜り、厚く御礼申し上げます。
当社は、誠に勝手ながら下記の期間を年末年始休業とさせていただきます。</p>

<p>休業期間：2017年12月29日（金）から2018年1月4日（木）<br>
（1月5日（金）より通常営業となります。）</p>

<p>上記期間中に受け付けましたお問い合わせは1月5日（金）より順次対応させていただきますので、ご了承ください。</p>

