---
layout: default
main_title: 本社事務所移転のお知らせ
sub_title:
type: topic
---

<p>この度、本社事務所を移転する運びとなりましたので、下記の通りご連絡いたします。</p>
<p>尚、2020年12月11日(金)までは現住所での業務を行い、2020年12月14日(月)から新住所にて業務を開始いたします。
<br>（電話・FAX番号も変更となりますので、お間違えの無い様よろしくお願いいたします。）</p>

<div class="following">
	<p class="following-mark">記</p>

	<p>【移転先住所】
	<br>〒359-1111 埼玉県所沢市緑町二丁目６番５号　芝﨑ビル１０３
	<br>電話/FAX：04-2907-4726</p>

	<p>なお、2020年12月11日はネットワーク移設工事の為、電話・FAXが一時不通となる可能性がございます。弊社宛のご連絡はメールにて行っていただくよう、よろしくお願い申し上げます。</p>
</div>

<p class="afterpiece">以上</p>
