---
layout: default
main_title: メールシステムテストのためのメールを共有するオープンソースプロジェクト 「test-mailsプロジェクト」を開始
sub_title:
type: press
---

<div class="press-release-signature">
  <p class="date">2014年1月27日</p>
</div>

<p>
株式会社クリアコード（本社　東京都文京区　代表取締役　須藤　功平）は、エキサイト株式会社（本社　東京都港区　代表取締役社長　今川　聖）と、メールシステムをテストするためのメールを共有するオープンソースプロジェクト「test-mailsプロジェクト」を開始しました。
</p>


<h2>test-mailsプロジェクトの概要</h2>

メールシステムのテストには様々な種類のメールを用意する必要があります。しかし様々な特徴をもったメールを収集したり作成したりするのは大変時間と手間のかかる作業です。test-mailsプロジェクトは誰でも自由に再利用できるテストメール集の提供を通じて、メールシステムのテストを支援することを目的とした世界初のオープンソースプロジェクトです。

<h2>test-mailsプロジェクト発足の経緯</h2>

エキサイト株式会社は2013年8月にエキサイトメールをリニューアルしました。あたらしいメールシステムにはSendmailやmilter managerをはじめとしたオープンソースソフトウェアを積極的に採用しています。
またリニューアルにあたって、メールシステムの検証用にテストメールを作成しました。これらのテストメールを自社だけでなくだれでも自由に再利用できるようオープンソースにすることを検討した結果、株式会社クリアコードと連携してtest-mailsプロジェクトを発足することとなりました。

<h2>テストメールのライセンス</h2>

<p>
テストメールはMITライセンスで提供されており、非公開のメールシステムにも利用したり、変更を加えて利用したりすることができます。
</p>

<h2>収集するテストメール</h2>

<p>
test-mailsプロジェクトでは、網羅的なテストができるよう通常のメールだけでなく、行儀悪いメールも収集します。
</p>
<p>
行儀の悪いメールの例としては以下のものが挙げられます。
</p>
<ul>
  <li>RFC5321に準拠していない</li>
  <li>MTAの限界を超えている</li>
  <li>日本の携帯キャリアの独自仕様が含まれている</li>
  <li>ASCII以外のエンコーディングを使っている</li>
</ul>
<p>
このような行儀の悪いメールは、慣習として通常のメール同様に処理されることが期待されており、メールサービス提供者は特別の対応が必要となります。またメールの消失や文字化けなどを防ぐためにはこれらの行儀の悪いメールに予め対応することが望ましく、行儀の悪いメールがそろったテストメールの必要性は高まっています。
</p>

<h2>テストメールの拡充</h2>

<p>
エキサイト株式会社が提供するメールサービス「エキサイトメール」をバージョンアップするにあたって、株式会社クリアコードはmilterの開発支援ならびにmilter managerを利用したメールシステムのテスト支援を行いました。この時に作成したテストメールやクリアコードがmilter managerの開発、導入時に使用するテストメールを順次提供していきます。またtest-mailsプロジェクトではテストメールの収集に協力いただける企業、個人を広く募集し、様々な種類のテストメール収集を目指してます。
なお、test-mailsプロジェクトの開始にあたって、三菱電機インフォメーションシステムズ株式会社、株式会社デージーネットがプロジェクトへの参加ならびにテストメールの提供を表明しています。
</p>

<h2>プロジェクト参加企業からのエンドースメント</h2>

<h3>三菱電機インフォメーションシステムズ株式会社</h3>
<p>流通・ネットワーク営業部長　小林　敦様</p>

<p>
三菱電機インフォメーションシステムズ（MDIS）は、エキサイト株式会社様、株式会社クリアコード様のプロジェクト設立に賛同いたします。
当社も過去に、通信キャリアのメールシステムをオールOSSで構築した際に、システム試験におけるテストメールのパターン検討とケース作成に大変な労力を割いた経験があります。今回のプロジェクトは、テストケース（テストデータ）のオープン化という新たな試みにより試験工数の削減、ひいてはシステム構築コストの低減に寄与するものであり、当社はテストメールの提供と、それらの活用による低コストなメールシステム構築の両面で、積極的に本プロジェクトに参加していきます。
</p>

<h3>株式会社デージーネット</h3>
<p>代表取締役　恒川　裕康様</p>

<p>
株式会社デージーネットは、test-mailsプロジェクトの発足を歓迎致します。
メール関連のアプリケーション・システムのニーズは依然として高く、その安全性・安定性も高いレベルで求められています。テストメールを収集し公開することで、より信頼性の高いメールシステムの提供に、貢献できると確信しております。
また今後弊社もプロジェクトに協力させて頂くだけでなく、プロジェクトの成果物を積極的に利用させて頂き、より高品質なメールシステムを提供して参ります。
</p>

<h2>お問い合わせ先</h2>

<h3>test-mailsプロジェクト</h3>

<dl>
  <dt>URL</dt>
  <dd><a href="https://github.com/milter-manager/test-mails">https://github.com/milter-manager/test-mails</a></dd>
</dl>

<h3>株式会社クリアコード</h3>

<dl>
  <dt>担当</dt>
  <dd>南　慎一郎</dd>
  <dt>TEL</dt>
  <dd>03-6231-7270</dd>
  <dt>メールアドレス</dt>
  <dd>minami@clear-code.com</dd>
</dl>
