---
layout: default
main_title: ブラウザ切替ツールBrowserSelector2.0をリリース
sub_title:
type: press
---

<p class='press-release-subtitle-small'>
Edge対応など企業導入のための機能を拡充！

<div class="press-release-signature">
  <p class="date">2020年11月18日</p>
  <p>株式会社クリアコード
</div>

<p>
株式会社クリアコード（本社：東京都豊島区、代表取締役：須藤 功平）は、URLパターンに応じて起動するWebブラウザを切り替えるためのWindowsアプリケーションであるBrowserSelector 2.0をリリースしました。また今回のリリースにあわせて、BrowserSelector法人利用パックの提供を開始しました。

<p>
<b>【BrowserSelector】</b>
<a href='/services/browserselector.html'>https://www.clear-code.com/services/browserselector.html</a>

<h2 id='overview'>BrowserSelectorとは</h2>

<p>
BrowserSelectorはURLパターンに応じて、起動するWebブラウザを自動的に切り替えるためのWindowsアプリケーションで、オープンソースソフトウェアとして開発しています。

<p>
主にIEとFirefoxやGoogle Chrome（以下、Chrome）を併用している環境において、Webブラウザ切り替えの自動化を支援します。

<ul>
<li>IEおよびFirefox、Chrome、Edgeなどの主要なモダンブラウザに対応。
<li>URLのパターン定義で、表示ブラウザを柔軟に設定可能。
<li>共有フォルダやグループポリシーを通じて、設定を集中管理できます。
</ul>

<h2 id='new-features'>BrowserSelector 1.0以降に追加された機能</h2>

<p>
<b>サポート対象ブラウザの拡大</b>

<ul>
<li>Microsoft Edgeがサポートブラウザに追加されました。
<li>Firefox・Chrome・Edge間の相互リダイレクトが可能です。
</ul>

<p>
<b>IEの「セキュリティゾーン」に対応</b>

<ul>
<li>セキュリティゾーン（インターネット、ローカル イントラネットなど）の判定に対応しました。
<li>例えば「社内サイトのみIEで閲覧する」といった運用が手軽に実現できます。
</ul>

<p>
<b>GPOテンプレートの提供開始</b>

<ul>
<li>BrowserSelectorの設定を制御するためのGPOテンプレートの提供を開始しました。
<li>グループポリシーの管理画面を通じて、設定の集中管理が可能です。
</ul>

<h2 id='case-studies'>BrowserSelectorの導入実績</h2>

<p>
BrowserSelectorは2019年のリリース以降、多くの企業に導入いただいております。以下は弊社が導入支援やサポートを行ったお客様の業種と導入目的です。

<table>
<tr><th>金融</th><td>FirefoxとIEの切り替え。FirefoxでG Suiteを利用。</td></tr>
<tr><th>金融</th><td>FirefoxとIEの切り替え。社内システムはIE、社外はChrome。</td></tr>
<tr><th>電力</th><td>ChromeとIEの切り替え。コールセンターで利用。特定システムのみChromeを利用。</td></tr>
<tr><th>ガス</th><td>FirefoxとIEの切り替え。社内システムはIE、社外はChrome。</td></tr>
<tr><th>化学</th><td>ChromeとFirefoxの切り替え。M365のアカウントごとにブラウザを切り替え。</td></tr>
</table>

<h2 id='enterprise'>BrowserSelector法人利用パックについて</h2>

<h3>BrowserSelector法人利用パックの概要</h3>

<p>
BrowserSelector法人利用パックは、BrowserSelectorを利用する法人ユーザーを対象に、BrowserSelectorのプログラム一式とサポートを提供するものです。

<p>
提供するサービスは以下の通りです。

<p>
<b>BrowserSelectorのプログラム本体</b>

<p>
クリアコードで署名済みのインストーラを提供します。

<p>
<b>BrowserSelectorの問い合わせサポート</b>

<p>
BrowserSelectorの仕様や設定方法に関するお問い合わせへの対応から障害発生時の原因調査と解決策の提案まで対応します。オプションでChromeやFirefoxのサポートも提供します。

<h3>BrowserSelector法人利用パックの提供価格</h3>

<p>
BrowserSelector法人利用パックはユーザ数毎に価格を設定しています。
また、契約初年度と2年目以降では価格が異なります。

<div style='text-align:center;'>
<div style='display:inline-block;margin:2em;'>
<b>初年度</b>
<table>
<tr><th>ユーザ数</th><th>価格（税別）</th><th>障害対応時間</th></tr>
<tr><th>100名まで</th><td>&yen;1,800,000</td><td>20時間まで</td></tr>
<tr><th>500名まで</th><td>&yen;2,400,000</td><td>30時間まで</td></tr>
<tr><th>2000名まで</th><td>&yen;3,600,000</td><td>40時間まで</td></tr>
<tr><th>5000名まで</th><td>&yen;4,800,000</td><td>60時間まで</td></tr>
<tr><th>5001名以上</th><td>都度御見積</td><td>都度調整</td></tr>
</table>
</div>

<div style='display:inline-block;margin:2em;'>
<b>2年目以降</b>
<table>
<tr><th>ユーザ数</th><th>価格（税別）</th><th>障害対応時間</th></tr>
<tr><th>100名まで</th><td>&yen;1,200,000</td><td>10時間まで</td></tr>
<tr><th>500名まで</th><td>&yen;1,600,000</td><td>20時間まで</td></tr>
<tr><th>2000名まで</th><td>&yen;2,400,000</td><td>30時間まで</td></tr>
<tr><th>5000名まで</th><td>&yen;3,600,000</td><td>40時間まで</td></tr>
<tr><th>5001名以上</th><td>都度御見積</td><td>都度調整</td></tr>
</table>
</div>
</div>

<h2 id='clearcode'>クリアコードについて</h2>

<p>
クリアコードは、2006年7月にフリーソフトウェア開発者を中心に設立したソフトウェア開発会社です。クリアコードの目的は、単に会社を継続していくことではありません。フリーソフトウェアの開発で学んだことを継続的にビジネス分野に活用していくことで会社を継続し、それと同時に、ビジネスを継続することでフリーソフトウェアへ継続的にコミットメントしていくこと、この両立の実現が当社の目的です。
<p>
クリアコードでは創業以来Mozilla Firefox / Thunderbirdの導入支援やサポートを行っており、これまでに100社以上のお客様にご利用いただいております。

<h2 id='contact'>当リリースに関するお問い合わせ先</h2>

<p>
株式会社クリアコード　担当：南<br>
TEL：03-5927-9440<br>
メール：info@clear-code.com

<h2 id='links'>参考URL</h2>

<b>【コーポレートサイト】</b>
<a href='/'>https://www.clear-code.com/</a><br>
<b>【本プレスリリース】</b>
<a href='/press-releases/20201118-browserselector.html'>https://www.clear-code.com/press-releases/20201118-browserselector.html</a><br>
<b>【Firefox/Thunderbirdサポート】</b>
<a href='/services/mozilla/menu.html'>https://www.clear-code.com/services/mozilla/menu.html</a>
