---
layout: default
main_title: クリアコードは設立15周年を迎えます
sub_title: フリーソフトウェアを継続的に開発するエンジニアを増やすための新たな取り組みを開始
type: press
keywords: OSS,OSS Gate,OSS Gateオンボーディング,15周年,クリアコード,ClearCode
thumbnail: /press-releases/20210721-15th-anniversary/clear-code-15thv.png
---
<p class="press-release-subtitle-small">
フリーソフトウェアを継続的に開発するエンジニアを増やすための新たな取り組みを開始します。

<div class="press-release-signature">
  <p class="date">2021年7月21日</p>
  <p>株式会社クリアコード
</div>

<div style="text-align: center">
　<image src="{% link /press-releases/20210721-15th-anniversary/clear-code-15thv.png %}" title="クリアコード15周年" alt="15周年記念" width="200">
</div>
<br>
<br>
<p>
株式会社クリアコード（本社：埼玉県所沢市、以下クリアコード）は、2006年7月25日の設立当初から、フリーソフトウェアとビジネスの両立を理念に事業を行い、このたび設立15周年を迎えます。
<p>
クリアコードは、単に会社を継続していくことだけを目的としていません。フリーソフトウェアの開発で学んだことを継続的にビジネス分野に活用していくことで会社を継続し、それと同時に、ビジネスを継続することでフリーソフトウェアへ継続的にコミットメントしていくこと、この両立の実現が当社の目的です。
</p>
<p>
また、クリアコードでは、フリーソフトウェアを推進する取り組みとして、フリーソフトウェアを継続的に開発する人を増やす活動を行っており、これまでにも様々な場所での勉強会や、個別の企業向けのワークショップを行ってきました。
</p>
<p>
2015年には「OSS Gate」の立ち上げに参加し、OSS Gateワークショップというイベントを通じて、フリーソフトウェアの開発の最初の一歩を踏み出したいエンジニアを多数支援してきました。
</p>
<p>
そして、今回「フリーソフトウェアを継続的に開発するエンジニア」を増やすための取り組みとして、「OSS Gateオンボーディング」を開始します。
</p>

<p>
<b>【OSS Gateについて】</b><br>
2015年に設立された、オープンソースソフトウェア（以下OSS）開発の入り口を提供するためのコミュニティ。現在では当たり前のものになり、気づかないうちに使われているOSSの開発に継続的に参加する人を増やす支援を行っている。
</p>
<p>
これまでにOSS Gateワークショップをはじめとしたイベントを全国各地で100回以上開催し、メンバーは1200名を超える。
</p>
<p>
<a href="https://oss-gate.github.io/">https://oss-gate.github.io/</a>
</p>

<p>
<b>【OSS Gateオンボーディングについて】</b><br>
　現在実施中のものはDebianパッケージのメンテナンスやそれを支えるシステムの開発。参加してみたい新人さんを募集中。<br>
　応募締切予定：2021年7月31日（土）<br>
　プロジェクト開始予定：8月初旬<br>
詳細はウェブサイトをご確認ください。<br>
<a target='_blank' rel='noopener' href='https://oss-gate.github.io/on-boarding/'>https://oss-gate.github.io/on-boarding/</a>（外部サイト）
<br>

<h2 id='contact'>当リリースに関するお問い合わせ先</h2>

<p>
株式会社クリアコード　担当：南<br>
メール：info@clear-code.com

<h2 id='links'>参考URL</h2>

<b>【コーポレートサイト】</b>
<a href='{% link index.html %}'>{{ site.url }}{% link index.html %}</a><br>
<b>【本プレスリリース】</b>
<a href='{{ page.url | relative_url }}'>{{ page.url | absolute_url }}</a>

