---
layout: default
---

<nav class="blog-tags">
  <h4>タグ一覧</h4>
  <ul>
  {% for tag in site.blog.tags %}
    <li>
      <a class='tag' href="{{ "/blog/" | append: tag | append: "/" | relative_url }}">
        {{ site.blog.tag_labels[tag] | xml_escape }}
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>

{% for post in paginator.posts %}
<div class="post-summary">
  <h2><a href="{{ post.url | relative_url }}">{{ post.title | xml_escape }}</a></h2>
  <nav class="post-metadata">
    <ul>
      <li><span class="date">{{ post.date | date: "%Y-%m-%d" }}</span></li>
      {% if post.author %}
      <li><span class="author">{{ site.blog.author_labels[post.author] }}</span></li>
      {% endif %}
      {% for tag in post.tags %}
        <a class='tag' href='{{ "/blog/" | append: tag | append: "/" | relative_url }}'>
          {{ site.blog.tag_labels[tag] | xml_escape }}
        </a>
      {% endfor %}
    </ul>
  </nav>
  <div class='excerpt'>{{ post.excerpt }}</div>
  <p><a class='btn more' href="{{ post.url | relative_url }}">
      もっと読む<i class='fas fa-angle-double-right'></i>
    </a>
  </p>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav class="blog">
  <ul>
    {% if paginator.next_page %}
    <li>
      <a class="btn back white"
         href="{{ paginator.next_page_path | relative_url }}"><i class='fas fa-angle-double-left'></i>古い記事</a>
    </li>
    {% endif %}
    <li><a class="btn center" href="{{ "/blog/" | relative_url }}">最新記事</a></li>
    {% if paginator.previous_page %}
    <li>
      <a class="btn white"
         href="{{ paginator.previous_page_path | relative_url }}">新しい記事<i class='fas fa-angle-double-right'></i></a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
